.header {
    background-color: rgba(131, 126, 126, 0.3);
}

.header {
    min-height: 70px;
}

.content {
    min-height: 70vh;
}

.footer {
    background-color: rgba(0, 0, 255, 0.3);
}

.button {
    width: 19.6%;
    height: 70px;
}